[Unit]
Description=Agostle anything-to-PDF daemon
Requires=agostle.socket
After=network.target

[Install]
WantedBy=local.target

[Service]
Restart=always
Environment=LOGDIR=/var/log/agostle-%i TMPDIR=/var/tmp/agostle-%i
User=agostle
WorkingDirectory=/home/agostle
ExecStartPre=+/bin/mkdir -p $LOGDIR $TMPDIR
ExecStartPre=+/bin/chown agostle $LOGDIR $TMPDIR
ExecStartPre=-/home/agostle/agostle update
ExecStart=/home/agostle/agostle serve

RuntimeMaxSec=86400
NonBlocking=true
Sockets=agostle.socket

NoNewPrivileges=true
PrivateTmp=true
#ProtectSystem=full
#ReadWritePaths=/var/log/agostle-%i /var/tmp/agostle-%i
